annotated-types==0.6.0
APIFlask==2.1.0
apispec==6.4.0
blinker==1.7.0
click==8.1.7
Flask==3.0.2
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.2.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.20.2
marshmallow-dataclass==8.6.0
mypy-extensions==1.0.0
packaging==23.2
pydantic==2.6.1
pydantic_core==2.16.2
PyYAML==6.0.1
typing-inspect==0.9.0
typing_extensions==4.9.0
webargs==8.4.0
Werkzeug==3.0.3
